<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>All Aricles Page:</h1>
    <hr>
    <div style="background-color: orange; color: white; padding: 20px;">
        <% for(let article of allArticles) { %>
            <div style="background-color: green; padding: 5px; margin: 10px;">
                <h2>
                    <%=article.title %>
                </h2>
                <p>
                    <%= article.body %>
                </p>
                <h5>
                    <%= article.numberOfLikes %>
                </h5>
            </div>
            <hr>
            <%} %>
    </div>
</body>

</html>